@model IEnumerable<Library.Models.IncomingInvoice>

@{
    ViewData["Title"] = "Товари і послуги";
}

<h2>Товари і послуги</h2>

<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-success" id="create-button">Створити</button>
    </a>
</p>
<div class="container">
    <div class="legend">
        <div class="row">
            <div class="col-sm-2">
                Дата
            </div>
            <div class="col-sm-2">
                Створив
            </div>
            <div class="col-sm-2">
                Склад
            </div>
            <div class="col-sm-2">
                Сумма
            </div>
            <div class="col-sm-4">
                Товар
            </div>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-2">

                <div class="present-text">
                    @item.Date
                </div>
            </div>


            <div class="col-sm-2">
                <div class="present-text">
                    @item.User.Name
                </div>

            </div>
            <div class="col-sm-2">
                <div class="present-text">
                    @item.Storage.Name
                </div>
            </div>
            <div class="col-sm-2">
                <div class="present-text">
                    @{ int sum = 0;
                        foreach (var el in item.Invoice_Products)
                        {
                            sum += el.Prise * el.Quantity;
                        }
                    }
                    @sum
                </div>
            </div>
            <div class="col-sm-4">
                <div class="present-text">
                    @foreach (var el in item.Invoice_Products)
                    {
                        <p>@el.Product.Name x @el.Quantity</p>
                    }

                </div>
            </div>

        </div>

    }
</div>

@await Html.PartialAsync("CreateP", ViewBag.IncomingInvoice as IncomingInvoice)

